.app {
  background-color: #202124;
}
.match_container {
  cursor: pointer;
  background-color: red;
  border-radius: 1rem;
  padding: 1rem;
  margin: 1rem 0;
}
.details {
  background-color: #595959;
  height: 100vh;
  padding: 2rem;
}
.details_summary {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.team_overview {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100px;
}
